[[source]]            
url = "https://pypi.org/simple"
verify_ssl = true     
name = "pypi"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
mypy = "*"
types-requests = "*"

[packages]
django = "*"
graphene-django = "*"
django-graphql-jwt = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
requests = "*"
pip = "*"
install = "*"
sphinx = "*"
sphinx-markdown-builder = "*"

[requires]
python_version = "3.9"

[scripts]
format-black = "black ./graphql_jwt_oauth2"
format-isort = "isort ./graphql_jwt_oauth2"
lint-black = "black ./graphql_jwt_oauth2 --check --diff"
lint-isort = "isort ./graphql_jwt_oauth2 --check --diff --profile black"
lint-pylint = "pylint ./graphql_jwt_oauth2"
type-check = "mypy ./graphql_jwt_oauth2"
apidoc = "sphinx-apidoc ./graphql_jwt_oauth2 -o ./docs/source"
sphinx = "sphinx-build -c ./docs/source -b markdown ./docs/source ./docs/build"
# PIPENV_DOTENV_LOCATION=$(pwd)/.env.prod
